<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Verseny részletei</title>
</head>
<body>
<h1 th:text="${verseny.nev} + ' részletei'"></h1>
<h2>Futók eredményei:</h2>
<table>
    <thead>
    <tr>
        <th>Név</th>
        <th>Időeredmény</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="eredmeny : ${verseny.eredmenyek}">
        <td th:text="${eredmeny.futoNev}"></td>
        <td th:text="${eredmeny.idoeredmeny}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
